$body_background_color: #FDF5F4;
$navbar_hover_background_color: #F4AFAB;
$navbar_hover_text_color: black;
$navbar_background_color: #E07A5F;
$navbar_bottom_border_color: #B4ADAF;
$navbar_text_color: #F4CBC6;
$footer_text_color: #F4CBC6;
$footer_background_color: #E2866D;
$footer_top_border_color: #B4ADAF;
$general_text_color: #C45159;
$general_border_color: #B4ADAF;
$header_text_color: #E07A5F;

$Nav_Bar_height: 10%;
// The number of pixels sum  of width plus margins between first pictures not including duplicates
// Max width of each picture is 400px and margin should be 5 px
$Gallery_Pixels: 3106px;

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  display: none;
  background-color: $body_background_color;
  opacity: 50%;
}

.pageFooter {
  background-color: $footer_background_color;
  color: $footer_text_color;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top:2px solid $footer_top_border_color;
}

header {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  h1 {
    text-align: center;
    font-family: Garamond, sans-serif;
    font-size: 36px;
    color: $header_text_color;
    letter-spacing: 5px;
    text-shadow: 2px 2px $navbar_bottom_border_color;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
  border-bottom: 1px solid black;
  width: 90%;
}

hr.style-five:after {  /* Not really supposed to work, but does */
  content: "\00a0";  /* Prevent margin collapse */
}

nav {
  height: $Nav_Bar_height;
  width: 100%;
  background: $navbar_background_color;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid $navbar_bottom_border_color;
  z-index: 4;
  ul {
    padding: 0;
    margin: 0 auto;
    width: 900px;
    height: 40px;
  }
  li {
    display: inline;
    float: left;
  }
  a {
    color:$navbar_text_color;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    //text-shadow: 1px 1px 0px #283744;
  }
  a:hover {
    //background-color: $navbar_hover_background_color;
    color: $navbar_hover_text_color;
  }
}

nav a#pull {
  display: none;
}

.parallaxPhotoZigZag {
  background-image: url('Local_Images/ZigZagBackground.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxPhotoKayla {
  background-image: url('Local_Images/IntroPhoto.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  //background-size: cover;
}

.aboutMe {
  border: solid $general_border_color 3px;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #F7EDF0;
  p {
    color: $general_text_color;
    font-size: 18pt;
    font-family: 'Original Surfer', cursive;
  }
  h2 {
    font-family: 'Rouge Script', cursive;
    text-align: right;
  }
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.welcomeText {
  color: $general_text_color;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  :hover {
    opacity: 0.7;
  }
}

#container {
  width: 95%;
  //max-width: 90%;
  overflow: hidden;
  margin: 25px auto;
  z-index: -10;
  //background: white;
}

.gallery {
  height: 500px;
  width: 20000px;
  margin-top: 50px;
  overflow: hidden;
  //margin-bottom: 80px;
  .first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
  }
  img {
    margin-top: 15px;
    height: 100%;
    width: auto;
    max-width: 400px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    z-index: 10;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  }
}

.services {
  border: solid $general_border_color 3px;
  margin: 3% 5%;
  background-color: #F7EDF0;
  .servicesInside {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  th {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    font-size: 40pt;
    color: $navbar_hover_background_color;
  }
  table {
    margin: 20px;
    td {
      font-size: 18px;
      margin: 2px;
      color: $general_text_color;
    a {
      color: $general_text_color;
    }
    }
  }
  .services-text {
    text-align: center;
  }
}

.contact {
  background-color: #F7EDF0;
  border: solid $general_border_color 3px;
  margin: 3% 5%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    font-size: 20pt;
    color: $navbar_hover_background_color;
    border-bottom: 1px solid $header_text_color;
    box-shadow: 0 4px 2px -2px gray;
  }
}

.map_container {
  margin: 10px auto;
  width: 90%;
  height: 100%;
}

#map {
  width: 100%;
  height: 500px;
  margin: 10px auto;
  float: left;
  text-align: center;
  justify-content: center;
}

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}

.body {
    display: block;
    margin: 10px auto;
    width: 576px;
    max-width: 90%;
}

form {
    margin:0 auto;
    width: 470px;
    max-width: 90%
}

input, textarea {
    width: 450px;
    height: 30px;
    max-width: 90%;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3a3a3a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea {
	height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:200px;
    height:40px;
    border: 0.5px solid black;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.7;
	}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -$Gallery_Pixels;
  }

}

@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -$Gallery_Pixels;
  }

}

@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -$Gallery_Pixels;
  }

}

@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -$Gallery_Pixels;
  }

}

@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -$Gallery_Pixels;
  }

}

@media screen and (max-width: 900px) {
  nav {
    height: auto;
    ul {
      width: 100%;
      display: block;
      height: auto;
    }
    li {
      width: 33%;
      float: left;
      position: relative;
    }
    a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
  }
  .parallaxPhotoZigZag {
    background-image: url('Local_Images/ZigZagBackground.jpg');
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxPhotoKayla {
    background-image: url('Local_Images/IntroPhotoSmall.jpg');
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    //background-size: cover;
  }

  .gallery {
    height: 300px;
    $Gallery_Pixels: 1880;
    .first {
      -webkit-animation: bannermove 60s linear infinite;
      -moz-animation: bannermove 60s linear infinite;
      -ms-animation: bannermove 60s linear infinite;
      -o-animation: bannermove 60s linear infinite;
      animation: bannermove 60s linear infinite;
    }
  }
}

@media only screen and (max-width : 490px) {
  nav {
    border-bottom: 0;

    ul {
      display: none;
      height: auto;
    }
    li {
      width: 50%
    }
  }
  nav a#pull {
    display: block;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

 @media screen and (orientation:landscape) and (max-height : 490px){
   nav {
     border-bottom: 0;

     ul {
       display: none;
       height: auto;
     }
     li {
       width: 50%
     }
   }
   nav a#pull {
     display: block;
     width: 100%;
     position: relative;
   }
   nav a#pull:after {
     content:"";
     background: url('nav-icon.png') no-repeat;
     width: 30px;
     height: 30px;
     display: inline-block;
     position: absolute;
     right: 15px;
     top: 10px;
   }
 }

@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
